@charset "utf-8";

body {
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
	overflow-y:scroll;
}

a {
	color:#09F;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

input{
	-webkit-appearance:none;
}

input[placeholder]{/*[] means: element with attribute. It doesn't refer to the attribute itself - thank you Jesus*/
	color:#000;
}

::-webkit-input-placeholder{
  color:#00F;
}

:-moz-placeholder{ /* Firefox 18- */
   color:#00F;
}

::-moz-placeholder{  /* Firefox 19+ */
   color:#00F;
}

:-ms-input-placeholder{
   color:#00F; 
}

textarea:focus, input:focus{
    outline:0;
}

input[type="text"]{
	width:25em;
	border:1px solid #09F;
	margin-bottom:10px;
	padding:10px;
	font-size:100%;
	background:#9CF;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

input[type="text"]#pr_qty {
	width:8em;
	padding:0 5px;
}

input[type="text"]#qk_search {
	float:right;
	width:15em;
	margin-bottom:none;
	padding:11px;
}

input[type="text"]#stot {
	background:#FFF;
}

input[type="text"]#chq_num, input[type="text"]#chq_com {
	float:right;
	margin-right:5px;
	height:2em;
}

input[type="text"]#tax {
	background:#FFF;
}

input[type="text"]#upr {
	background:#FFF;
}

input[type="text"].output_field {
	text-align:right;
	background:#FFF;
	color:#09F;
	font-weight:bold;
}

input[type="text"]#state {
	text-transform:uppercase;
	width:5em;
}

input[type="text"]#c_id {
	width:10em;
}

input[type="text"]#p_per_part {
	margin-right:8.7em;
	width:10em;
}

input[type="text"]#qty {
	width:5em;
}

input[type="text"].p_qty {
	text-align:right;		
}

input[type="password"] {
	width:25em;
	border:1px solid #09F;
	background:#9CF;
	padding:10px;
	font-size:100%;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

input[type="submit"] {
	transition:all 0.5s linear 0.1s;
	-moz-transition:all 0.5s linear 0.1s;
	-webkit-transition:all 0.5s linear 0.1s;
	-o-transition:all 0.5s linear 0.1s;
	background:#FC0;
	font-size:100%;
	padding:11px;
	width:50%;
	float:left;
	color:#000;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	cursor:pointer;
	border:1px solid #F90;
	text-align:center;
	margin-top:10px;
}

input[type="submit"]:hover {
	box-shadow:0 0 2px #A1A1A1;
	-moz-box-shadow:0 0 2px #A1A1A1;
	-webkit-box-shadow:0 0 2px #A1A1A1;
}

input[type="reset"] {
	width:5em;
	border:1px solid #09F;
	height:2.5em;
	line-height:2.5em;
	margin-top:10px;
}

input[type="reset"]:hover {
	background:#0CF;
	color:#FFF;
}

button {
	width:10%;
	padding:10px;
	border:1px solid #03F;
	color:#FFF;
	background:#09F;
	font-size:100%;
	transition:all 0.5s linear 0.1s;
	-moz-transition:all 0.5s linear 0.1s;
	-webkit-transition:all 0.5s linear 0.1s;
	-o-transition:all 0.5s linear 0.1s;
}

button.cpanel_button {
	cursor:pointer;
	margin-right:10px;
}

button#cancel_but{
	float:right;
	margin-right:0;
	color:#FFF;
	border:1px solid #C00;
	background:#F00;
}

button#checkout{
	background:#090;
	border:1px solid #030;
}

button:hover {
	box-shadow:0 0 2px #5A5A5A;
	-moz-box-shadow:0 0 2px #5A5A5A;
	-webkit-box-shadow:0 0 2px #5A5A5A;
}

input[type="radio"] {	
	margin-bottom:15px;
}

form#order_form legend {
	color:#066;
	border:1px solid #C03;
}

form#order_form fieldset {
	float:left;
	width:40%;
	margin:10px;
	border:1px solid #C03;
}

table.more_info {
	color:#0C0;
	font-size:85%;
	width:100%;
	max-width:100%;
	clear:both;
	border-spacing:0;
	border-collapse:collapse;/*trust me you may always want to set the border-spacing and border-collapse properties for tables*/
}

table.more_info a {
	color:#F06;
	display:block;
}

table.more_info td {
	padding:0;/*we have to set the height of the table dynamically using its td padding top and bottom elements - relative to the image*/
}

table.more_info tr {
	
}

td.info_box_label {
	text-align:right;
	color:#09F;
}

table.more_info tr:nth-child(even) {
    background:none;
}

table.more_info td{
    border:1px solid #E1E1E1;
}

table.wide {
	color:#09F;
	font-size:85%;
	width:100%;
	max-width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

table.wide img {
	width:25px;
	height:25px;
}

table.wide a {
	color:#F06;
	display:block;
}

table.wide tr {
	cursor:pointer;
	border:1px solid #E1E1E1;
}

table.wide tr:first-child {
	border-top:1px solid #03F;
}

.cls_tot {
	text-decoration:underline;
}

table.wide tr:hover {
	background:#F5F5F5;
}

table.wide td {
	padding:5px 10px 5px 10px;
}

table.wide th {
	text-align:left;
	padding:10px;
}

table.wide thead {
	background:#09F;
	color:#FFF;
	border:1px solid #03F;
	border-bottom:none;
}

table.wide tr:nth-child(even) {
    background:#FAFAFA;
	color:#000;
}

table.wide tr.close_tot {
	color:#F06;
	cursor:default;
}

table.wide tr:nth-child(even):hover {
    background:#F5F5F5;
}

table.itm_tbl {
	color:#09F;
	font-size:85%;
	width:100%;
	max-width:100%;
	border-spacing:0;
	margin-top:10px;
	border-collapse:collapse;
}

table.itm_tbl img {
	width:25px;
	height:25px;
}

table.itm_tbl a {
	color:#F06;
	display:block;
}

table.itm_tbl tr {
	cursor:pointer;
	border:1px solid #E1E1E1;
}

table.itm_tbl tr.close_tot {
	color:#F06;
	cursor:default;
}

table.itm_tbl tr.close_bal {
	color:#F90;
	cursor:default;
}

table.itm_tbl tr.open_bal {
	color:#0C0;
	cursor:default;
}

table.itm_tbl tr:hover {
	background:#F5F5F5;
}

table.itm_tbl td {
	padding:5px;
}

table.itm_tbl th {
	text-align:left;
	padding:5px;
	font-weight:normal;
}

table.itm_tbl thead {
	background:#F5F5F5;
	color:#000;
	border-top:1px solid #F90;
	border-bottom:none;
	border-left:1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
}

table.itm_tbl tr:nth-child(even) {
    background:#FAFAFA;
	color:#000;
}

table.itm_tbl tr:first-child {
	color:#0C0;
	cursor:default;
}

table.itm_tbl tr:nth-child(even).close_tot {
	color:#F06;
	cursor:default;
}

table.itm_tbl tr:nth-child(even).close_bal {
	color:#F90;
}

table.itm_tbl tr:nth-child(even).open_bal {
	color:#0C0;
}

table.itm_tbl tr:nth-child(odd).open_bal {
	color:#0C0;
}

table.itm_tbl tr:nth-child(even):hover {
    background:#F5F5F5;
}

table#itm_tbl_totals {
	float:right;
	margin:5px 0;
	border-spacing:0;
	border-collapse:collapse;
}

table#itm_tbl_totals td {
	text-align:right;
	padding:5px;
	font-size:85%;
	color:#A1A1A1;
}

table#itm_tbl_totals tr#total {
	border-top:1px solid #F06;
	font-weight:bold;
	font-size:150%;
}

table#itm_tbl_totals tr#total td {
	color:#F06;
}

table#itm_tbl_totals tr#pro_total {
	font-weight:bold;
	font-size:150%;
}

table#itm_tbl_totals tr#pro_total td {
	color:#F06;
}

table#itm_tbl_totals tr:nth-child(even) {
	background:none;
}

tr:nth-child(even) {
    background:#FAFAFA;
}

select {
	margin-bottom:10px;
	padding:7.6px 5px;
	border:1px solid #09F;
}

textarea {
	width:98.5%;
	height:5em;
	border:1px solid #09F;
	font-family:Verdana, Geneva, sans-serif;
	font-size:100%;
	padding:5px;
	background:#9CF;
	resize:none;
	font-style:italic;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}