@media print {
#main_menu {
	display:none;
}
#cpanel_inner_left {
	display:none;
}
#footer_links {
	display:none;
}
#cpanel_inner_main_options {
	border-bottom:none;
	display:none;
}
#cpanel_inner_main_options_search {
	display:none;
}
#add_itm {
	display:none;
}
#sup_sel {
	display:none;
}
#sta_div {
	display:none;
}
#cpanel_inner_main {
	width:100%;
	float:right;
}
.footer_child {
	border-top:none;
}
#cpanel_inner {
	border:none;
	padding:0;
}
textarea#comm {
	border:none;
}
table#itm_tbl {
	color:#000;
}

table#itm_tbl td:last-child {
	display:none;
}

table#itm_tbl th:last-child {
	display:none;
}

table#itm_tbl_totals {
	color:#000;
}

#form_wrapper {
	box-shadow:0;
	-moz-box-shadow:0;
	-webkit-box-shadow:0;
}

input[type="text"]#cust_name{
	border:none;
}
}